<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head::head"></th:block>
    <title>Products</title>
</head>
<body>

<header>
    <nav th:replace="fragments/navigation::navigation"></nav>
</header>

<h1 class="text-center">Products</h1>
<h3 class="text-center">Total price: $<span th:text="${totalPrice}"></span></h3>
<main class="flex gap-5 justify-center flex-wrap">

    <article class="shadow-sm p-5 rounded w-25vw" th:each="product: ${products}">
        <h1 th:text="${product.name}"></h1>
        <p th:text="${product.description}"></p>
        <p th:text="${'$'+product.price}"></p>
        <p th:text="${product.getCategory().name.getValue().toString()}"></p>

        <a th:href="@{/products/{id}/details (id=${product.id})}">View</a>
        <a th:href="@{/products/{id}/edit (id=${product.id})}">Edit</a>

        <form th:action="@{/products/{id}/delete (id=${product.id})}" th:method="POST">
            <button type="submit">Delete</button>
        </form>

    </article>

</main>

</body>
</html>