<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head::head"></th:block>
    <title>Add Product</title>
</head>
<body>

<header>
    <nav th:replace="fragments/navigation::navigation"></nav>
</header>

<h1 class="text-center">Add Product</h1>

<main>
    <form class="w-50 mx-auto shadow-sm p-5 rounded" th:method="POST">

        <label for="name">Name:</label>
        <input class="w-100 px-2 py-1 mb-2"
               id="name"
               name="name"
               type="text"
               placeholder="Product Name" required>

        <label for="price">Price:</label>
        <input class="w-100 px-2 py-1 mb-2"
               id="price"
               name="price"
               type="number"
               step="0.01"
               placeholder="$1.00" required>

        <label for="description">Description:</label>
        <textarea class="w-100 px-2 py-1 mb-2"
                  name="description"
                  id="description"
                  cols="30" rows="10" required></textarea>


        <button class="px-2 py-1 pointer" type="submit">Add</button>

    </form>
</main>

</body>
</html>