<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="fragments/head::head"></th:block>
  <title>Product Details</title>
</head>
<body>

<header>
  <nav th:replace="fragments/navigation::navigation"></nav>
</header>

<h1 class="text-center">Product Details</h1>

<main>

  <h2 th:text="${product.name}">Product name</h2>
  <p th:text="${product.price}"></p>
  <p th:text="${product.description}"></p>
  <p th:text="${product.getCategory().name.getValue().toString()}"></p>

  <a th:href="@{/products/{id}/edit (id=${product.id})}"
     th:if="${@loggedUser.getId() == product.getUser().id}">Edit</a>

</main>

</body>
</html>