<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head::head"></th:block>
    <title>Home</title>
</head>
<body>

<header>
    <nav th:replace="fragments/navigation::navigation"></nav>
</header>

<h1 class="text-center">Home</h1>

<main>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        A neque nostrum tempora.
        Eligendi expedita facere hic impedit itaque minus molestiae officiis placeat quaerat quas quidem,
        quis reiciendis repellendus sequi veritatis.</p>
</main>

</body>
</html>