<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head::head"></th:block>
    <title>Home</title>
</head>
<body>

<header>
    <nav th:replace="fragments/navigation::navigation"></nav>
</header>

<h1 class="text-center">Home</h1>

<main>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        A neque nostrum tempora.
        Eligendi expedita facere hic impedit itaque minus molestiae officiis placeat quaerat quas quidem,
        quis reiciendis repellendus sequi veritatis.</p>

    <h2 class="text-center">Our Products</h2>
    <section class="flex gap-5 flex-wrap">

        <article class="flex-wrap shadow-sm p-5 rounded w-25vw" th:each="product: ${products}">
            <h1 th:text="${product.name}"></h1>
            <p th:text="${product.description}"></p>
            <p th:text="${'$'+product.price}"></p>
            <p th:text="${product.getCategory().name.getValue().toString()}"></p>

            <a th:href="@{/products/{id}/details (id=${product.id})}">View</a>

        </article>

    </section>

</main>

</body>
</html>