<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head::head"></th:block>
    <title>Login</title>
</head>
<body>

<header>
    <nav th:replace="fragments/navigation::navigation"></nav>
</header>

<h1 class="text-center">Login</h1>

<main>
    <form class="w-50 mx-auto shadow-sm p-5 rounded"
          th:method="POST" th:object="${loginUserDTO}">

        <p style="color:darkred; margin:0;"
           th:each="error: ${#fields.errors()}"
           th:text="${error}">
            Error messages
        </p>
        <p style="color:indianred;" th:if="${userLogged == false}" th:text="${error}"></p>

        <label for="username">Username:</label>
        <input class="w-100 px-2 py-1 mb-2"
               id="username"
               name="username"
               type="text"
               th:field="*{username}"
               placeholder="john_99">

        <label for="password">Password:</label>
        <input class="w-100 px-2 py-1 mb-2"
               id="password"
               name="password"
               type="password"
               placeholder="********">

        <button class="px-2 py-1 pointer" type="submit">Login</button>

    </form>
</main>

</body>
</html>