<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Not Found</title>
</head>
<body>

<header>
    <th:block th:include="~{fragments/navigation}"></th:block>
</header>

<main>
    <h1>Error 404</h1>
    <h3>Page Nor Found</h3>
    <a href="/">
        <button>Back To Home</button>
    </a>
</main>

</body>
</html>